@page
@model HolidayTracker.Views.Requests.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.CompanyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.CompanyId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.RequestTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.RequestTypeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.EmployeeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.EmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.RequestCreatedByEmployeeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.RequestCreatedByEmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.From)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.From)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.To)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.To)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.RequestAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.RequestAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Request.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
