@page
@model HolidayTracker.Views.Requests.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].CompanyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].RequestTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].RequestCreatedByEmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].RequestAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Request) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestCreatedByEmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestAmount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
