@model HolidayTracker.Models.Employee.Employee

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<hr />
<h4>Employee Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <input asp-for="LocationId" class="form-control" />
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <input asp-for="DepartmentId" class="form-control" />
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeavingDate" class="control-label"></label>
                <input asp-for="LeavingDate" class="form-control" />
                <span asp-validation-for="LeavingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeTypeId" class="control-label"></label>
                <input asp-for="EmployeeTypeId" class="form-control" />
                <span asp-validation-for="EmployeeTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeNumber" class="control-label"></label>
                <input asp-for="EmployeeNumber" class="form-control" />
                <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                <input asp-for="GenderId" class="form-control" />
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
            <div class="form-group form-check" style="display:none">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsLocked" /> @Html.DisplayNameFor(model => model.IsLocked)
                </label>
            </div>
            <div class="form-group form-check" style="display:none">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            @*<div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <input asp-for="CompanyId" class="form-control" />
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <hr />
            <h4>Assign Role</h4>
            <hr />
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsManager" /> @Html.DisplayNameFor(model => model.IsManager)
                </label>
            </div>
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsApprover" /> @Html.DisplayNameFor(model => model.IsApprover)
                </label>
            </div>
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAdmin" /> @Html.DisplayNameFor(model => model.IsAdmin)
                </label>
            </div>
            <hr />
            <h4>Choose Working Days</h4>
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Mon" /> @Html.DisplayNameFor(model => model.Mon)
                </label>
            </div>
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Tue" /> @Html.DisplayNameFor(model => model.Tue)
                </label>
            </div>
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Wed" /> @Html.DisplayNameFor(model => model.Wed)
                </label>
            </div>
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Thu" /> @Html.DisplayNameFor(model => model.Thu)
                </label>
            </div>
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Fri" /> @Html.DisplayNameFor(model => model.Fri)
                </label>
            </div>
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sat" /> @Html.DisplayNameFor(model => model.Sat)
                </label>
            </div>
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sun" /> @Html.DisplayNameFor(model => model.Sun)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

