@model HolidayTracker.Models.Employee.Employee

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<hr />
<h4>Employee Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeNumber" class="control-label"></label>
                <input asp-for="EmployeeNumber" class="form-control" />
                <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Start Date</label>
                <input type="text" name="StartDate" id="datepicker1" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Leaving Date</label>
                <input type="text" name="LeavingDate" id="datepicker2" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Gender Name</label>
                <input type="text" name="GenderId" id="selectGen" style="width:100%;" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Department Name</label>
                <input type="text" name="DepartmentId" id="selectDept" style="width:100%" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Location Name</label>
                <input type="text" name="LocationId" id="selectLoc" style="width:100%" />
                <span class="text-danger"></span>
            </div>            
            <div class="form-group" style="display:none">
                <label asp-for="EmployeeTypeId" class="control-label"></label>
                <input asp-for="EmployeeTypeId" class="form-control" />
                <span asp-validation-for="EmployeeTypeId" class="text-danger"></span>
            </div>
            <div class="form-group form-check" style="display:none">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsLocked" /> @Html.DisplayNameFor(model => model.IsLocked)
                </label>
            </div>
            <div class="form-group form-check" style="display:none">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <hr />
            <h4>Assign Role</h4>
            <hr />
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsManager" /> @Html.DisplayNameFor(model => model.IsManager)
                </label>
            </div>
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsApprover" /> @Html.DisplayNameFor(model => model.IsApprover)
                </label>
            </div>
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAdmin" /> @Html.DisplayNameFor(model => model.IsAdmin)
                </label>
            </div>
            <hr />
            <h4>Choose Working Days</h4>
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Mon" /> @Html.DisplayNameFor(model => model.Mon)
                </label>
            </div>
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Tue" /> @Html.DisplayNameFor(model => model.Tue)
                </label>
            </div>
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Wed" /> @Html.DisplayNameFor(model => model.Wed)
                </label>
            </div>
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Thu" /> @Html.DisplayNameFor(model => model.Thu)
                </label>
            </div>
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Fri" /> @Html.DisplayNameFor(model => model.Fri)
                </label>
            </div>
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sat" /> @Html.DisplayNameFor(model => model.Sat)
                </label>
            </div>
            <div class=" form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sun" /> @Html.DisplayNameFor(model => model.Sun)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/Popper/popper.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/metisMenu/dist/jquery.metisMenu.js"></script>
    <script src="/lib/slimScroll/jquery.slimscroll.js"></script>
    <script src="/lib/pace/pace.js"></script>
    <script src="/js/script.js?v=Z0lG-W-_b5obPSVMDKOODB1S9RZ_0pOI0YMGLlVehZc"></script>

    <!-- Only for demo purpose -->
    <script src="/js/skin.config.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css">

    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@3.5.2-browserify/select2.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@3.5.2-browserify/select2.min.js"></script>
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
    </environment>

    <script>
        $(function () {
            $("#datepicker1").datepicker({ dateFormat: "dd/mm/yy" }).datepicker("setDate", new Date());
            $("#datepicker1").datepicker({
                dateFormat: "dd/mm/yy",
            });
            $("#datepicker1").datepicker("hide");
        });
    </script>
    <script>
        $(function () {
            $("#datepicker2").datepicker({ dateFormat: "dd/mm/yy" }).datepicker("setDate", new Date());
            $("#datepicker2").datepicker({
                dateFormat: "dd/mm/yy"
            });
            $("#datepicker2").datepicker("hide");

            $("#selectDept").select2({
                placeholder: "Select Department",
                allowClear: true,
                ajax: {
                    cache: false,
                    dataType: "json",
                    type: "GET",
                    url: "@Url.Action("GetDepartmentName", "Employee")",
                    data: function (searchTerm) {
                        return { query: searchTerm };
                    },
                    results: function (data) {
                        return { results: data };
                    },
                },
                formatSelection: function (result) {
                    return result.name;
                },
                escapeMarkup: function (m) { return m; }
             });


            $("#selectGen").select2({
                placeholder: "Select Gender",
                allowClear: true,
                ajax: {
                    cache: false,
                    dataType: "json",
                    type: "GET",
                    url: "@Url.Action("GetGenderName", "Employee")",
                    data: function (searchTerm) {
                        return { query: searchTerm };
                    },
                    results: function (data) {
                        return { results: data };
                    },
                },
                formatSelection: function (result) {
                    return result.name;
                },
                escapeMarkup: function (m) { return m; }
             });
        

            $("#selectLoc").select2({
                placeholder: "Select Location",
                allowClear: true,
                ajax: {
                    cache: false,
                    dataType: "json",
                    type: "GET",
                    url: "@Url.Action("GetLocationName", "Employee")",
                    data: function (searchTerm) {
                        return { query: searchTerm };
                    },
                    results: function (data) {
                        return { results: data };
                    },
                },
                formatSelection: function (result) {
                    return result.name;
                },
                escapeMarkup: function (m) { return m; }
             });
        });
    </script>

}

