@model HolidayTracker.Controllers.HomeViewModel;
@{
    ViewData["Title"] = "Dashboard";
}

<h4>Add Your Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>

            <div class="form-group">
                <label class="control-label">Request Type</label>
                <input type="text" name="RequestTypeId" id="selectrequest" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">From</label>
                <input type="text" name="From" id="datepicker1" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">To</label>
                <input type="text" name="To" id="datepicker2" class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Description</label>
                <textarea name="Description" id="desc" class="form-control"></textarea>
                <span class="text-danger"></span>
            </div>


            <div class="form-group">
                <input id="save" value="Save" class="btn btn-primary" />
                <input type="reset" value="Cancel" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<hr />
<hr />
@*<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-controller="Home" asp-action="Dashboard"></a>
                @Html.DisplayNameFor(model => Model.Requests[0].From)
            </th>
            <th>
                <a asp-controller="Department" asp-action="Index"></a>
                @Html.DisplayNameFor(model => Model.Requests[0].To)
            </th>
            <th style="display:none">
                <a asp-controller="Department" asp-action="Index"></a>
                @Html.DisplayNameFor(model => Model.Requests[0].CompanyId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Requests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.CompanyId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].RequestTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Requests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css">

    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@3.5.2-browserify/select2.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@3.5.2-browserify/select2.min.js"></script>



    <script>
        $(document).ready(function () {
            $("#selectrequest").select2({
                placeholder: "Select and Item",
                allowClear: true,
                ajax: {
                    cache: false,
                    dataType: "json",
                    type: "GET",
                    url: "@Url.Action("GetRequestType", "Home")",
                    data: function (searchTerm) {
                        return { query: searchTerm };
                    },
                    results: function (data) {
                        return { results: data };
                    },
                },
                formatSelection: function (result) {
                    return result.name;
                },
                escapeMarkup: function (m) { return m;}
            });

            $("#save").click(function () {
                $.ajax({
                    type: "POST", //HTTP POST Method
                    url: "@Url.Action("CreateRequest", "Home")", // Controller
                    data: { //Passing data
                        RequestTypeId: $("#selectrequest").select2("val"), //Reading text box values using Jquery
                        From: $("#datepicker1").val(),
                        To: $("#datepicker2").val(),
                        Description: $("#desc").val()
                    },
                    success: function(response){
                        alert('Request Sent!');
                        $("form").trigger("reset"); //clear down input values
                        //$('#save').each(function () {
                        //    this.reset();
                        //})
                    },
                    error: function(e){
                        alert('error!'); //display message of issue
                    }
                });
            });
        });
    </script>

    <script>
        $(function () {
            $("#datepicker1").datepicker({ dateFormat: "dd/mm/yy" }).datepicker("setDate", new Date());
            $("#datepicker1").datepicker({
                dateFormat: "dd/mm/yy",
            });
            $("#datepicker1").datepicker("hide");
        });
    </script>
    <script>
        $(function () {
            $("#datepicker2").datepicker({ dateFormat: "dd/mm/yy" }).datepicker("setDate", new Date());
            $("#datepicker2").datepicker({
                dateFormat: "dd/mm/yy"
            });
            $("#datepicker2").datepicker("hide");
        });
    </script>





}


